.header{
  background: #ece8ee;
  width: 100%;
}
.container-fluid{
  background: #7a4099;

}

h1{
    color: aliceblue;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/