<div class="row justify-content-center style">
  <div class="col-md-3 mt-5">
    <h2 class="title">Productos más populares</h2>
  </div>
</div>
<!-- Carrusel de productos mas vendidos-->
<div class="row justify-content-center style">
  <div id="carouselExampleCaptions" class="carousel carousel-dark slide style" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="row d-flex justify-content-around style">
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="mx-5 h5-title">Tarjetas de Regalo</h5>
            </div>
          </div>
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta2.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas de Negocios</h5>
            </div>
          </div>
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta3.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas Personales</h5>
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="row d-flex justify-content-around style">
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas de Regalo</h5>
            </div>
          </div>
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta2.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas de Negocios</h5>
            </div>
          </div>
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta3.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas Personales</h5>
            </div>
            
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <div class="row d-flex justify-content-around style">
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas de Regalos</h5>
            </div>
          </div>
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta2.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas de Negocios</h5>
            </div>
          </div>
          <div class="col-md-3 m-4 card style-card">
            <img src="../../assets/tarjeta3.png" class="m-3 style-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="  mx-5 h5-title">Tarjetas Personales</h5>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="row d-flex justify-content-center style">
  <div class="col-md-1 m-4">
    <button class="button-style rounded-pill" type="submit">
      Ver más
  </button>
  </div>
</div>

  <!-- <mat-grid-tile
         *ngFor="let product of products"
        [colspan]="product.cols"
        [rowspan]="product.rows"
        [style.background]="product.color">
        <mat-grid-tile-footer> <a [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]">
              {{ product.name }}
              </a> </mat-grid-tile-footer>
      
      <h2>
        
      </h2>
      <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <button (click)="share()">
        Share
    </button>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
    <img src="https://picsum.photos/200/300/?random"> -->


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
