.style_top{
    background: #fbecfb;
}
.style_sub{
  background: #fbecfb;
  height: auto;
}

.menu-spacer {
    flex: 1 1 auto;
  }

h1{
    color: aliceblue;
}
.icon{
    color: #c396ff;
}
.style-nav{
  background: #8f66d6;
}
.style-nav-button{
  background: #8f66d6;
  width: auto;
  color: white;
  font-size: x-large;
  text-decoration: none;
}
.button-style {
    background: #8f66d6;
    color: white;
    width: 70px;
    font-size: 18px;
    
  }

  .style-nav-button:hover{
    background: #c396ff;
  }

  button:hover{
    background: #c396ff;
  }
  .search{
    width: auto;
    height: 35px;
    
  }
  .drop-style{
    text-decoration:none;
    background: #591D90;
    color: white;
  }
  .images{
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 90px;
    width: 160px;
    
}
.mat-icon {
  font-size: 50px;
}